<div class="chats">
  <div class="groups">
    <div class="groups-header">
      <h3>Groups</h3>
      <button class="btn" onclick="openGroupModal()">+</button>
    </div>
    <div id="groups-list" class="groups-list"></div>
  </div>
  <div class="users">
    <h3>Inbox</h3>
    <div id="users-list" class="users-list"></div>
  </div>
  <div id="group-modal" class="group-modal">
    <div class="modal-content">
      <span class="close" onclick="closeGroupModal()">&times;</span>
      <h2>Create Group</h2>
      <input type="text" placeholder="Group Name" id="group-name" />
      <div class="add-member">
        <input
          type="text"
          id="member-search-input"
          placeholder="Search users by name..."
          onkeyup="filterMembers(this.value)"
        />
        <div id="group-users-list" class="users-checkbox-list"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" onclick="closeGroupModal()">
          Cancel
        </button>
        <button
          class="btn btn-primary"
          id="create-group-btn"
          onclick="createGroup('public')"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
