<div class="header">
  <div class="header-left">
    <h1>
      <a href="index.html" class="blog">Mini Blog</a>
    </h1>
  </div>
  
  <nav class="header-nav">
    <ul>
      <li><a href="index.html" class="nav-item active">Trang chủ</a></li>
      <li><a href="/posts" class="nav-item">Bài viết</a></li>
      <li class="nav-dropdown">
        <a href="#" class="nav-item">Topic</a>
        <div class="nav-dropdown-content">
          <a href="#">Technology</a>
          <a href="#">Design</a>
          <a href="#">Lifestyle</a>
          <a href="#">Travel</a>
          <a href="#">Food</a>
          <a href="#">Coding</a>
          <a href="#">Art</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="header-right">
    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm bài viết..." />
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14" height="14"><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
      </button>
    </div>
    
    <div class="right-header"></div>
    
    <div class="lang-menu">
      <div class="dropdown">
        <button class="change-lang" id="change-lang">
          <img src="https://flagcdn.com/w20/vn.png" alt="Language" />
        </button>
        <div class="dropdown-content" id="dropdown-content">
          <a href="#" data-lang="en">
            <img src="https://flagcdn.com/w20/us.png" alt="English" />
            <span>English</span>
          </a>
          <a href="#" data-lang="vi">
            <img src="https://flagcdn.com/w20/vn.png" alt="Tiếng Việt" />
            <span>Tiếng Việt</span>
          </a>
          <a href="#" data-lang="ja">
            <img src="https://flagcdn.com/w20/jp.png" alt="日本語" />
            <span>日本語</span>
          </a>
        </div>
      </div>
      <button class="menu-toggle" id="menu-toggle" onclick="displayMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
