.post-detail {
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(211, 228, 238);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-detail .header {
  align-items: center;
  margin-bottom: 20px;
}
.post-detail .title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.post-detail .created-at {
  position: relative;
  top: -30px;
  font-size: 14px;
  color: #888;
}
.post-detail .author {
  display: flex;
  font-size: 16px;
  color: #555;
  justify-content: flex-end;
}
.post-detail .content {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.post-detail .thumbnail {
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
.comments {
  margin-top: 30px;
  background-color: rgb(211, 228, 238);
  padding: 12px;
  border-radius: 8px;
}
.comment-container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}
.comment-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.comment-container input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d8ebf7;
}
.comment-container .btn {
  padding: 10px 20px;
  background-color: #067ad8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.comment-container .btn:hover {
  background-color: #055a9c;
}
.comments-list {
  margin-top: 20px;
}
.comments-list .comment {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.comment-header .avatar {
  margin-right: 10px;
  border-radius: 50%;
}
.comment-header .comment-author {
  font-weight: bold;
  margin-right: 10px;
}
.comment-header .comment-created-at {
  font-size: 12px;
  color: #888;
}
